#include <arm/armv6-m.dtsi>
#include <freq.h>
#include <mem.h>

/ {
	chosen {
		zephyr,flash-controller = &flash0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m0+";
			reg = <0>;
			clock-frequency = <4000000>;
		};
	};

	clocks {
		clk_rcl: clk-rcl {
			compatible = "hdsc,hc32-rcl";
			#clock-cells = <0>;
			status = "disabled";
		};

		clk_rch: clk-rch {
			compatible = "fixed-clock";
			clock-frequency = <DT_FREQ_M(4)>;
			#clock-cells = <0>;
			status = "okay";
		};

		clk_xtl: clk-xtl {
			compatible = "hdsc,hc32-xtl";
			clock-frequency = <32768>;
			#clock-cells = <0>;
			status = "disabled";
		};

		clk_xth: clk-xth {
			compatible = "hdsc,hc32-xth";
			#clock-cells = <0>;
			status = "disabled";
		};

		clk_sys: clk-sys {
			compatible = "hdsc,hc32-derived";
			#clock-cells = <0>;
			clocks = <&clk_rch>;
			clock-div = <1>;
		};

		clk_peri: clk-peri {
			compatible = "hdsc,hc32-derived";
			#clock-cells = <0>;
			clocks = <&clk_sys>;
			clock-div = <1>;
		};
	};

	soc {
		sysctrl: sysctrl@40002000 {
			compatible = "hdsc,hc32-sysctrl";
			reg = <0x40002000 0x400>;
			#clock-cells = <1>;
			clocks = <&clk_rcl>, <&clk_rch>, <&clk_xtl>, <&clk_xth>, <&clk_sys>,
				 <&clk_peri>;
			clock-names = "rcl", "rch", "xtl", "xth", "sys", "peri";
			status = "okay";
		};

		sram0: memory@20000000 {
			reg = <0x20000000 DT_SIZE_K(8)>;
		};

		flash_controller: flash-controller@40020000 {
			compatible = "hdsc,hc32-flash-controller";
			reg = <0x40020000 0x10000>;

			#address-cells = <1>;
			#size-cells = <1>;

			flash0: flash@0 {
				compatible = "soc-nv-flash";
				reg = <0 DT_SIZE_K(64)>;
			};
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <2>;
};
