# SPDX-License-Identifier: Apache-2.0

if SOC_HC32L13X

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency)

config NUM_IRQS
	int
	# must be >= the highest interrupt number used
	default 31

endif # SOC_HC32L13X
